<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http pattern="/**/*.png" security="none"/>
    <security:http pattern="/**/*.jpg" security="none"/>
    <security:http pattern="/**/*.gif" security="none"/>
    <security:http pattern="/**/*.css" security="none"/>
    <security:http pattern="/**/*.js" security="none"/>
    <security:http pattern="/**/*.ico" security="none"/>
    <security:http pattern="/home" security="none"/>
    <security:http pattern="/authenticationError" security="none"/>
    <security:http auto-config="true">
        <security:intercept-url pattern="/**" access="ROLE_USER"/>
        <security:form-login login-page="/home" login-processing-url="/authentication" authentication-failure-url="/authenticationError" username-parameter="username"
                             password-parameter="password"
                             default-target-url="/plan/plans"/>
        <security:logout logout-success-url="/home" delete-cookies="JSESSIONID" invalidate-session="true"
                         logout-url="/logout"/>
        <security:session-management session-fixation-protection="migrateSession"/>
    </security:http>
    <security:authentication-manager alias="authenticationManager">

        <security:authentication-provider>
            <security:user-service>
                <security:user authorities="ROLE_USER" name="admin" password="1qaz2wsx"/>

            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>